@font-face {
    font-family: Akashi;
    src: url(/fonts/Akashi.ttf);
}

@font-face {
    font-family: Cosmosbold;
    src: url(/fonts/Cosmosbold.ttf);
}

@font-face {
    font-family: AwareBold;
    src: url(/fonts/AwareBold.ttf);
}

h1{
    font-family: Cosmosbold;
    color: gold ;
}

h2{
    font-family: AwareBold;
    color : red ;
}

h3{
    font-family: Akashi;
    color : green ;
}

a{
    cursor:url('/cursors/normal.cur') , auto;


}

body{
    cursor: url('/cursors/invader.ani') , default ;
}

#nightsky{
    background-image: url(/images/nigthsky.jpg);
    background-repeat: no-repeat;
    min-height: 600px;

}

#fusee{
    background-image: url(/images/ariane5R.png);
    background-repeat: no-repeat;

}

#textAni{
    color: blueviolet;
}

